@import "../css/reset.css";
@import "../css/bootstrap.css";
@import "../css/jquery.fancybox.css";
@import "../css/owl.carousel.css";
@import "../css/jquery.arcticmodal.css";
@import "../css/jquery-ui.css";
@import "../css/formstyler.css";
@import "../css/responsive-tabs.css";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300&subset=latin,cyrillic-ext);
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);*/
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'robotoregular', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color:#232440;
  min-width:1080px;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr.hr{
  border: none;
  height: 1px;
  background: #d6dae4;
  width: 100%;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}
button{
  font-family: 'robotoregular', Helvetica, sans-serif;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}

/*======================>  GOOGLE FONTS START  <======================*/
        
  .fw_thn{font-weight: 100;}
  .fw_lt{font-weight: 300;}
  .fw_reg{font-weight: 400;}
  .fw_med{font-weight: 500;}
  .fw_ultra_bd{font-weight: 900;}
  .bold{font-weight: 700;}

  .roboto{
    font-family: 'Roboto';
  }
  .roboto_slab{
    font-family: 'Roboto Slab', serif;
  }

  .roboto_light{
    font-family: 'robotolight';
  }
  .roboto_bold{
    font-family: 'robotobold';
  }


  /* Generated by Font Squirrel (https://www.fontsquirrel.com) on September 28, 2016 */



  @font-face {
      font-family: 'robotobold_condensed';
      src: url('../font/roboto-boldcondensed-webfont.eot');
      src: url('../font/roboto-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-boldcondensed-webfont.woff2') format('woff2'),
           url('../font/roboto-boldcondensed-webfont.woff') format('woff'),
           url('../font/roboto-boldcondensed-webfont.ttf') format('truetype'),
           url('../font/roboto-boldcondensed-webfont.svg#robotobold_condensed') format('svg');
      font-weight: normal;
      font-style: normal;

  }


  @font-face {
      font-family: 'robotobold_condensed_italic';
      src: url('../font/roboto-boldcondenseditalic-webfont.eot');
      src: url('../font/roboto-boldcondenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-boldcondenseditalic-webfont.woff2') format('woff2'),
           url('../font/roboto-boldcondenseditalic-webfont.woff') format('woff'),
           url('../font/roboto-boldcondenseditalic-webfont.ttf') format('truetype'),
           url('../font/roboto-boldcondenseditalic-webfont.svg#robotobold_condensed_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }


  @font-face {
      font-family: 'robotobold_italic';
      src: url('../font/roboto-bolditalic-webfont.eot');
      src: url('../font/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-bolditalic-webfont.woff2') format('woff2'),
           url('../font/roboto-bolditalic-webfont.woff') format('woff'),
           url('../font/roboto-bolditalic-webfont.ttf') format('truetype'),
           url('../font/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }


  @font-face {
      font-family: 'robotocondensed';
      src: url('../font/roboto-condensed-webfont.eot');
      src: url('../font/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-condensed-webfont.woff2') format('woff2'),
           url('../font/roboto-condensed-webfont.woff') format('woff'),
           url('../font/roboto-condensed-webfont.ttf') format('truetype'),
           url('../font/roboto-condensed-webfont.svg#robotocondensed') format('svg');
      font-weight: normal;
      font-style: normal;

  }


  @font-face {
      font-family: 'roboto_condensedbold';
      src: url('../font/robotocondensed-bold-webfont.eot');
      src: url('../font/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-bold-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-bold-webfont.woff') format('woff'),
           url('../font/robotocondensed-bold-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
      font-weight: normal;
      font-style: normal;

  }


  @font-face {
      font-family: 'roboto_condensedbold_italic';
      src: url('../font/robotocondensed-bolditalic-webfont.eot');
      src: url('../font/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-bolditalic-webfont.woff') format('woff'),
           url('../font/robotocondensed-bolditalic-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }


  @font-face {
      font-family: 'roboto_condenseditalic';
      src: url('../font/robotocondensed-italic-webfont.eot');
      src: url('../font/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-italic-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-italic-webfont.woff') format('woff'),
           url('../font/robotocondensed-italic-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotoblack';
      src: url('../font/roboto-black-webfont.eot');
      src: url('../font/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-black-webfont.woff2') format('woff2'),
           url('../font/roboto-black-webfont.woff') format('woff'),
           url('../font/roboto-black-webfont.ttf') format('truetype'),
           url('../font/roboto-black-webfont.svg#robotoblack') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotoblack_italic';
      src: url('../font/roboto-blackitalic-webfont.eot');
      src: url('../font/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-blackitalic-webfont.woff2') format('woff2'),
           url('../font/roboto-blackitalic-webfont.woff') format('woff'),
           url('../font/roboto-blackitalic-webfont.ttf') format('truetype'),
           url('../font/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotobold';
      src: url('../font/roboto-bold-webfont.eot');
      src: url('../font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-bold-webfont.woff2') format('woff2'),
           url('../font/roboto-bold-webfont.woff') format('woff'),
           url('../font/roboto-bold-webfont.ttf') format('truetype'),
           url('../font/roboto-bold-webfont.svg#robotobold') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotocondensed_italic';
      src: url('../font/roboto-condenseditalic-webfont.eot');
      src: url('../font/roboto-condenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-condenseditalic-webfont.woff2') format('woff2'),
           url('../font/roboto-condenseditalic-webfont.woff') format('woff'),
           url('../font/roboto-condenseditalic-webfont.ttf') format('truetype'),
           url('../font/roboto-condenseditalic-webfont.svg#robotocondensed_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'roboto_condensedlight';
      src: url('../font/robotocondensed-light-webfont.eot');
      src: url('../font/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-light-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-light-webfont.woff') format('woff'),
           url('../font/robotocondensed-light-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'roboto_condensedlight_italic';
      src: url('../font/robotocondensed-lightitalic-webfont.eot');
      src: url('../font/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-lightitalic-webfont.woff') format('woff'),
           url('../font/robotocondensed-lightitalic-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'roboto_condensedregular';
      src: url('../font/robotocondensed-regular-webfont.eot');
      src: url('../font/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-regular-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-regular-webfont.woff') format('woff'),
           url('../font/robotocondensed-regular-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotoitalic';
      src: url('../font/roboto-italic-webfont.eot');
      src: url('../font/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-italic-webfont.woff2') format('woff2'),
           url('../font/roboto-italic-webfont.woff') format('woff'),
           url('../font/roboto-italic-webfont.ttf') format('truetype'),
           url('../font/roboto-italic-webfont.svg#robotoitalic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotolight';
      src: url('../font/roboto-light-webfont.eot');
      src: url('../font/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-light-webfont.woff2') format('woff2'),
           url('../font/roboto-light-webfont.woff') format('woff'),
           url('../font/roboto-light-webfont.ttf') format('truetype'),
           url('../font/roboto-light-webfont.svg#robotolight') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotolight_italic';
      src: url('../font/roboto-lightitalic-webfont.eot');
      src: url('../font/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-lightitalic-webfont.woff2') format('woff2'),
           url('../font/roboto-lightitalic-webfont.woff') format('woff'),
           url('../font/roboto-lightitalic-webfont.ttf') format('truetype'),
           url('../font/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotomedium';
      src: url('../font/roboto-medium-webfont.eot');
      src: url('../font/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-medium-webfont.woff2') format('woff2'),
           url('../font/roboto-medium-webfont.woff') format('woff'),
           url('../font/roboto-medium-webfont.ttf') format('truetype'),
           url('../font/roboto-medium-webfont.svg#robotomedium') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotomedium_italic';
      src: url('../font/roboto-mediumitalic-webfont.eot');
      src: url('../font/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-mediumitalic-webfont.woff2') format('woff2'),
           url('../font/roboto-mediumitalic-webfont.woff') format('woff'),
           url('../font/roboto-mediumitalic-webfont.ttf') format('truetype'),
           url('../font/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotoregular';
      src: url('../font/roboto-regular-webfont.eot');
      src: url('../font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-regular-webfont.woff2') format('woff2'),
           url('../font/roboto-regular-webfont.woff') format('woff'),
           url('../font/roboto-regular-webfont.ttf') format('truetype'),
           url('../font/roboto-regular-webfont.svg#robotoregular') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotothin';
      src: url('../font/roboto-thin-webfont.eot');
      src: url('../font/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-thin-webfont.woff2') format('woff2'),
           url('../font/roboto-thin-webfont.woff') format('woff'),
           url('../font/roboto-thin-webfont.ttf') format('truetype'),
           url('../font/roboto-thin-webfont.svg#robotothin') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotothin_italic';
      src: url('../font/roboto-thinitalic-webfont.eot');
      src: url('../font/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-thinitalic-webfont.woff2') format('woff2'),
           url('../font/roboto-thinitalic-webfont.woff') format('woff'),
           url('../font/roboto-thinitalic-webfont.ttf') format('truetype'),
           url('../font/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

/*----------------------> Basic Classes <------------------*/
  .reg {text-transform:uppercase}
  .f_left {float:left}
  .f_right {float:right}
  .al_left{text-align: left;}
  .al_right {text-align:right}
  .al_center {text-align:center}

  .it{font-style:italic}
  .let{letter-spacing:-1px}

  .full_w{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after, 
.container:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/



/*---------Global overlay----------*/

.nav_overlay{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 222;
  background-color: #000;
}

/*----------------------> DATA BG <------------------*/
  [data-bg="bg_heating_house"]{
    background: url(../images/heating_house.jpg) 50% 130px no-repeat;
  }

  /*[data-bg="bg_header2"]{
    background: url(../images/header_img_bg2.png) 50% 0 no-repeat;
  }

  [data-bg="bg_header_horeca"]{
    background: url(../images/horeca_bg_img.png) 50% 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  [data-bg="bg_certificates"]{
    background: #FFF url(../images/certificates_bg.png) 50% 0% no-repeat;
  }

  [data-bg="bg_partners"]{
    background: #FFF url(../images/partners_bg.png) 50% 60px no-repeat;
  }

  .blue_style [data-bg="bg_partners"]{
    background: #FFF url(../images/partners_bg.png) 50% 0px no-repeat;
  }

  [data-bg="work_bg"]{
    background: #FFF url(../images/work_bg_img.png) 50% 0% no-repeat;
  }

  [data-bg="objects_jobs_bg"]{
    background: #FFF url(../images/objects_jobs_bg.png) 50% 0% no-repeat;
  }

  [data-bg="blue_img"]{
    background: #FFF url(../images/blue_img_bg.png) 50% 0% no-repeat;
  }

  .prise_container_item[data-bg="orange_bg"]{
    background: url(../images/orange_bg.png) 0% 0% no-repeat;
  }

  .prise_container_item[data-bg="blue_bg"]{
    background: url(../images/blue_bg.png) 0% 0% no-repeat;
  }*/


/*======================> Breadcrumbs <======================*/

  .breadcrumbs{
    margin: 0 -9px;
  }

    .breadcrumbs_item{
      float: left;
      color: #484c50;
      font-size: 14px;
      margin-right: 4px;
      position: relative;
      padding-left: 9px;
    }

      .breadcrumbs_item:before{
        content: "/";
        position: absolute;
        left: 0;
      }
      .breadcrumbs_item:first-child:before{
        display: none;
      }

      .breadcrumbs_link{
        color: #23c3df;
        text-decoration: underline;
      }

      .breadcrumbs_link:hover{
        text-decoration: none;
      }


/*======================> Header <======================*/
  
  .header_block{
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff;
    z-index: 999;
  }

  .header_block {
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.33);
  } 

    .header_info{
      padding: 12px 0;
      margin: 0;
      border-bottom: 1px solid #FECEAB;
    }

      .logo{}
        .logo a{
          display:block;
          width:185px;
          height:40px;
          background:url(../images/logo.png) 0 0 no-repeat;
          text-decoration:none;
          text-indent:-9999px;
        }
    .header_nav{}
      .header_list{
        padding: 14px 0 12px;
        display: inline-block;
      }
        .header_list_item{
          float: left;
          display: block;
        }
          .header_list_item a{
            padding: 0 38px;
            color: #363638;
            font-size: 14px;
            display: inline-block;
            font-family: 'robotolight';
            text-decoration: none;
          }
          .header_list_item a:hover{
            color: #FB6B00;
          }

        .logo_text{
          width: 290px;
          font-size: 12px;
          color: #7b7b7c;
          line-height: 16px;
          margin: 2px 0 0 14px;
        } 

/*=====================> Header heat end ========================*/


/*=====================> Content ========================*/
  #content {padding: 180px 0px 0px 0px;}

  .container[data-bg="bg_heating_house"]{
    min-height: 620px;
  }

  .list1{
    float: left;
    display: inline-block;
  }
    .list1_item{
      color: #363638;
      font-size: 24px;
      position: relative;
      padding-left: 20px;
      margin-bottom: 12px;
      font-weight: 400;
      font-family: 'Roboto Slab', serif;
    }
      .list1_item:before{
        content: "";
        width: 6px;
        height: 6px;
        top: 13px;
        left: 0;
        position: absolute;
        background-color: #fb6b00;
        -webkit-border-radius: 50%;
                border-radius: 50%;
      }

  .sale_block{
    float: right;
    width: 390px;
    margin-top: -90px;
  }
    .sale_form{
      width: 360px;
      margin: 15px auto 0;
      background-color: #FFF;
      padding: 32px 28px 40px;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.33);
    } 
      .sale_form .title2{
        margin-bottom: 30px;
      }
        .sale_form .form_row{
          width: 280px;
          margin: 0 auto 12px;
        }
        .sale_form .form_row:last-child{
          margin: 0 auto 24px;
        }


        .header_content_name,
        .header_content_phone,
        .header_content_mail{
          height: 44px;
          width: 100%;
          line-height: 40;
          padding: 0 10px 0 38px;
          border: 1px solid #E0E0E0;
        }
        .header_content_form .header_content_name,
        .header_content_form .header_content_phone,
        .header_content_form .header_content_mail{
          width: 34.49%;
        }

        .header_content_name{
          background: #fff url(../images/human_icon.png) 8px 50% no-repeat;
        }
        .header_content_phone{
          background: #fff url(../images/phone_icon.png) 6px 50% no-repeat;
        }
        .header_content_mail{
          background: #fff url(../images/email_icon.png) 12px 50% no-repeat;
        }

        .btn_orange{
          cursor: pointer;
          color: #FFF;
          width: 280px;
          margin: 24px auto 5px;
          display: block;
          font-size: 18px;
          padding: 10px 15px;
          background-color: #FB6B00;
          border: 1px solid #fb6b00;
          font-family: 'robotolight';
          -webkit-border-radius: 2px;
                  border-radius: 2px;
          -webkit-transition: all 0.7s ease;
          -moz-transition: all 0.7s ease;
          -o-transition: all 0.7s ease;
          transition: all 0.7s ease;        
        }

        .btn_orange:hover{
          background: #fff;
          color: #FB6B00;
          -webkit-transition: all 0.1s ease;
          -moz-transition: all 0.1s ease;
          -o-transition: all 0.1s ease;
          transition: all 0.1s ease;
        }

/*------  Work  ------*/

  .work_vraper{
    margin-left:-45px ;
    margin-right: -45px;
  }

  .work{
    width: 300px;
    height: 500px;
    margin-left: 45px;
    margin-right: 45px;
    float: left;
    font-size: 14px;
    position: relative;

  }
  .work .pd{
    height: 295px;
  }
  .work .title2{
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .work .title2.pound::after{
      content: "";
      position: relative;
      top: 2px;
      left: 4px;
      right: auto;
      display: inline-block;
      width: 14px;
      height: 20px;
      background: url(../images/icon/pound_icon2.png) 0% 0% no-repeat; 
  }

  .work_link{
    width: 100%;
    text-align: center;
    padding: 10px 112px;
    border: 1px solid #1e8fea;
    display: block;
    font-size: 18px;
    font-family: 'robotolight';
    color: #3c9eee; 
  }
  .work_link2{
    width: 100%;
    text-align: center;
    padding: 10px 112px;
    border: 1px solid #fb6b00;
    display: block;
    font-size: 18px;
    font-family: 'robotolight';
    color: #fb6b00;
  }
  .work_link2:hover{
    background-color: #FB6B00;
    color: #FFF;
  }

  .work_text{
    font-size: 14px;
    font-family: 'robotolight';
    color: #232440;
    margin-bottom: 20px;
    position: relative;
   
  }

  ul .work_text:before{
    content: "";
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #232440;
    position: absolute;
    left: 0px;
    top: 10px;
  }

  ul .work_text{
     text-indent: 20px;
  }
  .img_text{
  position: absolute;
  color: #FFF;
  text-align: center;
  left: 0px;
  right: 0;
  top: 50px;
  font-size: 16px;
   font-family: 'Roboto Slab', serif;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
  }

  .img_box{
    width: 300px;
    height: 176;
  }

  .img_box img{
    width: 100%;
    height: 100%;
  }


  .pound2{
    position: relative;
  }

  .pound2:after{
    content: "";
    position: absolute;
    width: 14px;
    height: 20px;
    top: 3px;
    background: url(../images/icon/pound_icon.png) 0% 0% no-repeat;
  }

  .box-shadow{
      background: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.5); 
      position: relative;
      z-index: 5;
  }

  .pd{
    padding: 20px 25px ;
  }

  .prise_container{
    width: 986px;
    height: auto;
  }

  .prise_container_item{
    width: 326.5px;
    min-height: 750px;
    padding: 30px 40px 30px 50px;
    color: #FFF;
    position: relative;
  }

    .prise_container_item .prise_container_bottom{
      position: absolute; 
      bottom: 0;  
    }

  .tab_link{
    width: 100%;
    text-align: center;
    padding: 10px 45px;
    border: 1px solid #5e5e73;
    display: block;
    font-size: 18px;
    font-family: 'robotolight';
    color: #5e5e73; 
  }

  .prise_container_item dt{
     font-size: 12px;
    font-family: 'robotolight';
    color: #5e5e73;
    padding-bottom: 5px;
  }
  .prise_container_item dd{
    font-size: 14px;
    font-family: 'robotobold';
    color: #232440;
    padding-bottom: 20px;
  }

/*-------Tab-------*/

  .anchor_tabs{
    width: 977px;
    margin:30px auto 0;
  }

  /*.anchor_tabs.r-tabs {
    position: relative;
    background-color: #00c5ad;
    border-top: 1px solid #00c5ad;
    border-right: 1px solid #00c5ad;
    border-left: 1px solid #00c5ad;
    border-bottom: 4px solid #00c5ad;
    border-radius: 4px;
  }
  */

  .anchor_tabs.r-tabs .r-tabs-panel{
    padding: 0;
  }
  .border_top{
    border-right: 1;
  }
  /* Tab element */
  .anchor_tabs.r-tabs .r-tabs-nav .r-tabs-tab {
    position: relative;
    background-color: #fff;
  }

  /* Tab anchor */

  .anchor_tabs.r-tabs .r-tabs-tab{
    font-size: 0;
    display: inline-block;
  } 
  .anchor_tabs.r-tabs .r-tabs-tab:last-child .r-tabs-anchor{
    padding: 26px 73px 26px 73px;
  }
  .anchor_tabs.r-tabs .r-tabs-nav .r-tabs-anchor {
    display: block;
    padding: 26px 72px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #232440;
    opacity: .54;
  }

  /* Disabled tab */
  .r-tabs .r-tabs-nav .r-tabs-state-disabled {
    opacity: 0.5;
  }

  /* Active state tab anchor */
  .anchor_tabs.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    color: #232440;
    opacity: 1;
    text-shadow: none;
    background-color: white;
    position: relative;
    /*border-top-right-radius: 4px;
    border-top-left-radius: 4px;*/
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .anchor_tabs.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor::before{
    content: "";
    position: absolute;
    background: #FFF;
    height: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 6;
  }

  /* Tab panel */
  /*.anchor_tabs.r-tabs .r-tabs-panel {
    background-color: white;
    border-bottom: 4px solid white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

  }*/

  /* Accordion anchor */
  .r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    display: block;
    /*padding: 10px;*/
    background-color: #00c5ad;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  /* Active accordion anchor */
  .r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
    background-color: #fff;
    color: #00c5ad;
    text-shadow: none;
  }

  /* Disabled accordion button */
  .r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
    opacity: 0.5;
  }

  /* Buttons */


  /* Info bar */
  .info {
    display:inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    width: 300px;
    line-height: 100%;

    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    color: #00c5ad;
    border: 2px solid #00ab94;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;

    cursor: pointer;
  } 


  .prise_container_item[data-color="grey_light4"] .title2,
  .prise_container_item[data-color="grey_light4"] .tab_link{
    color: #888898;
    border-color: #888898;
  }
  .prise_container_item[data-color="grey_light5"] .title2,
  .prise_container_item[data-color="grey_light5"] .tab_link{
    color: #232440;
    border-color: #232440;
  }

  .prise_container_item[data-color="orange"] .title2,
  .prise_container_item[data-color="orange"] .tab_link{
    color: #FB6B00;
    border-color: #FB6B00;
    
  }

  .prise_container_item[data-color="grey_light5"] .tab_link:hover,
  .prise_container_item[data-color="orange"] .tab_link:hover,
  .prise_container_item[data-color="grey_light4"] .tab_link:hover{
    background-color: #FB6B00;
    color: #FFF;
    border-color: #FB6B00 !important;
  }


  .prise_container_item[data-color="orange"]{
    background: url(../images/bg_orange.png) 0 50% no-repeat;
  }

  .prise_container_item[data-color="grey_light5"]{
    background: url(../images/bg_light_03.jpg) 0 50% no-repeat;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
  }
    
    .work_vraper .title1{
      font-family: 'Roboto Slab', serif;
    }

/*--------Calculate form------*/
  .culc_form2 .jq-selectbox{
    width: 380px;
    
    margin-top: -7px;
    box-shadow: 1px 1px 8px #dedede, -1px -1px 8px #dedede;
  }
    .culc_form2 .jq-selectbox__select{
      height: 36px;
      border: none;
    }
    .culc_form2 .jq-selectbox .placeholder,
    .culc_form2 .jq-selectbox__select-text{
      line-height: 35px;
    }
    .culc_form2 .jq-selectbox__trigger-arrow,
    .culc_form2 .jq-selectbox:hover .jq-selectbox__trigger-arrow {
      top: 14px;
      border-top: 10px solid #1e8feb;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
      .culc_form2 .jq-selectbox li{
        font-size: 14px;
        font-weight: 300;
        color: #8a8e98;
      }
      .culc_form2 .jq-selectbox li:hover{
        background-color: #1e8feb;
        color: #FFF;
      }





  .calculate_form{
    margin-top: 100px;
    margin-bottom: 60px;
    position: relative;
  }
    .calculate_form:after{
      content: "";
      position: absolute;
      width: 188px;
      height: 171px;
      right: 14px;
      top: -82px;
      background: url(../images/calculate_img.png) 0% 0% no-repeat;
    }
    .site_bar_padd{
      padding: 10px 21px 10px 0;
    }
  .form_row{
    margin-bottom: 20px;
  }
    .range_slider_wrapper{
      width: 400px;
      font-size: 14px;
      color: #a1a5ad;
      display: table;
      float: left;
      position: relative;
    }

      .counter_item{
        position: absolute;
        right: -99px;
        top: -8px;
      }
      .counter_item label{
        vertical-align: middle;
        font-weight: 300;
        margin-right: 3px;
        text-align: center;
      }
        .counter_item sup{
          font-size: 10px;
        }

        .range_slider_wrapper p{
          color: #8A8E98;
          font-size: 12px;
          margin-top: -7px;
          margin-bottom: 0;
        }
    
    .radio_site_bar{
      font-size: 12px;
      font-weight: 300;
      margin: 0 -8px;
    }
      .radio_site_bar_item{
        margin: 0 20px 8px 0;
        position: relative;
      }

      .culc_label{  
        width: 31.5%;
        color: #232440;
        font-size: 18px;
        font-weight: 300;
        text-align: right;
        float: left;
        margin-right: 25px;
        text-transform: uppercase;
        font-family: 'robotolight';
      }
        .culc_item_label{
          color: #8A8E98;
          font-size: 14px;
          font-weight: 300;
        }

        .calculate_form .jq-checkbox.checked + .culc_item_label{
          color: #FB6B00;
        }

    .reset_all{
      font-size: 14px;
      font-weight: 300;
      position: relative;
      color: #34c8e1;
      display: inline-block;
      padding-right: 15px;
    }  
      .reset_all:after{
        content: " ";
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: url(../images/reset_close.png) 0 0 no-repeat;
      }

      .counter_item input::-webkit-input-placeholder{
        text-align: center;
      }
      .counter_item input::-moz-placeholder{
        text-align: center;
      }
      .counter_item input:-moz-placeholder{
        text-align: center;
      }
      .counter_item input:-ms-input-placeholder{
        text-align: center;
      }

/*=====================> Content flexslider start ========================*/
  .flexslider li{
    margin-bottom: 25px;
  }
    .slider_box{
      margin: -25px 0 0-25px;
    }
      .slider_figure{
        
      }
        .slide_img_box{
          width: 360px;
          float: left;
          margin: 25px 30px 0 25px;
        }
        .slider_figure .img_box{
          float: left;
          width: 360px;
          margin-bottom: 10px  ;
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.33);
        }
          .slider_figure .img_box img{
            width: 100%;
            height: 100%;
          }
          .slider_big_img_box{
            width: 360px;
            height: 210px;
          }
          .slider_min_img_box{
            width: 180px;
            height: 105px;
          }

        .slider_figure figcaption{
          float: left;
          padding-top: 17px;
          width: calc(100% - 415px);
        }
        
          .slider_content{
            font-family: 'robotolight';
          }

            .slider_content div{
              width: 47%;
            }
              .slider_content .title3{
                color: #2c3035;
                font-weight: 700;
                letter-spacing: 1px;
              }
              .slider_content p{
                font-size: 16px;
                color: #232440;
                font-weight: 300;
                line-height: 26px;
              }
      .slider_figure + span{
        padding-left: 25px;
      }
        .slider_box .thumb_carousel{
          padding-left: 25px;
        }
        .slider_box .owl-theme{
          display: inline-block !important;
        }

      .slider_box .flex-viewport{
        height: auto !important;
      }
      .owl-item.synced .slider_item_figure{
        opacity: 1;
        background: url(../images/slider_orange_bg.png) 35px 0% no-repeat;
      }
        .slider_box .thumb_carousel li{
          width: 300px !important;
        }
        .slider_box .owl-item.synced .slider_item_figure .img_box{
          border: 3px solid #fb6b00;
        }
          .slider_box .thumb_carousel h4{
            font-family: 'Roboto Slab', serif;
          }
      
        .slider_item_figure{
          padding: 17px 15px;
          opacity: 0.6;
          min-height: 115px;
          cursor: pointer;
        }
        .slider_item_figure:hover{
          opacity: 1;
        }
          .slider_item_figure .img_box{
            float: left;
            width: 60px;
            height: 60px;
            margin-right: 15px;
            border: 3px solid transparent;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
          }
            .slider_item_figure .img_box img{
              -webkit-border-radius: 50%;
                      border-radius: 50%;
                width: 100%;
                height: 100%;
            }
          .slider_item_figure figcaption{
            float: left;
            width: calc(100% - 84px);
          }
          .slider_item_figure h4{
            font-family: 'Roboto Slab', serif;
          }

    .pound{position: relative;}
    .pound:after{
      content: "";
      position: absolute;
      width: 14px;
      height: 20px;
      right: -20px;
      top: 3px;
      background: url(../images/icon/pound_icon.png) 0% 0% no-repeat;
    }
    .slider_content .pound{
      display: inline-block;
    }
 

/*=====================> Range slider ========================*/

  .range_slider_wrapper .slider-range{
    background-color: #d6dae4;
    height: 3px;
    margin-bottom: 10px;
  }
    .range_slider_wrapper .ui-slider-horizontal .ui.slider-range{
      background-color: #d6dae4;    
    }
    .range_slider_wrapper .slider-range .ui-slider-handle{
      background: #fb6b00;
      border-radius: 50%;
      top: -7px;
      width: 15px;
      height: 15px;
    } 
    /*.range_slider_wrapper .slider-range .ui-slider-handle:before{
      content: "";
      left: 0;
      right: 0;
      height: 3px;
      position: absolute;
      background-color: #d6dae4;
    }*/
    .range_slider_wrapper #amount1,
    .range_slider_wrapper #amount2,
    .range_slider_wrapper #amount3{
      color: #fb6b00;
      font-size: 14px;
      border: 0;
      width: 73px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      /*border: 1px solid #dfdfdf;*/
      box-shadow: 1px 1px 8px #dedede, -1px -1px 8px #dedede;
    }
    .range_slider_wrapper #amount2{
    }  
    .header_content_btn{
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        z-index: 999;
        width: 320px;
        margin: auto;
        outline: none;
        padding: 10px;
        display: block;
        cursor: pointer;
        background-color: #fb6b00;
        border: 1px solid #fb6b00;
        font-family: 'robotolight';
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        
        box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
      }
        .header_content_btn:hover,
        .header_content_phone + .header_content_btn:hover{
          color: #fb6b00;
          background: #fff;
          -webkit-transition: all 0.1s ease;
          -moz-transition: all 0.1s ease;
          -o-transition: all 0.1s ease;
          transition: all 0.1s ease;
        }  




/*==============> POPUP <=============*/
  .arcticmodal-container{
    background-color: #fff;
  }
  .arcticmodal_container_box{
    max-width: 1000px !important;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 10px; 
    z-index: 99999;
    position: relative;
  }
  .popup_box1{
    width: 607px;
  }
  .popup_box2{
    width: 870px;
  }
  .popup_box3{
    width: 890px;
  }
   .popup_arrow{
     position: absolute;
     top: 48px;
   }
    .popup_title{
      font-size: 14px;
      color: #2c3035;
      font-weight: 300;
    }
    .title_popup2{
      font-size: 16px;
      font-weight: 700;
      line-height: 1.7;
      text-transform: uppercase;
    }
    .arcticmodal_container_box .download_link:first-child{
      margin-right: 115px;
    }
    .arcticmodal_container_box .title2 + .popup_title{
      line-height: 1.7;
    }


  .arcticmodal_container_box.popup_pad{
    padding: 3px 50px;
  }

  .form_popup{
    width: 294px;
  }  
    .form_popup_name,
    .form_popup_email,
    .form_popup_textarea{
      font-size: 14px;
      font-weight: 300;
      width: 100%;
      height: 38px;
      padding-left: 42px;
      border: none;
      box-shadow: 2px 2px 3px #dfdfdf, -2px -2px 3px #dfdfdf;
    }
    .form_popup_name{
      background: #fff url(../images/human_icon.png) 12px 50% no-repeat;
    }
    .form_popup_email{
      background: #fff url(../images/email_icon.png) 12px 50% no-repeat;
    }
    .form_popup_textarea{
      height: 200px;
      padding: 10px 0 0 42px;
      resize: none;
    }
    .form_popup_textarea{
      background: #fff url(../images/commnt_icon.png) 12px 12px no-repeat;
    }
    .form_popup_btn,
    .form_popup_btn2{
      font-family: 'robotolight';
      width: 100%;
      height: 44px;
      color: #fff;
      outline: none;
      cursor: pointer;
      font-size: 18px;
      /*line-height: 34px;*/
      border-radius: 0;
      font-weight: normal;
      display: inline-block;
      padding: 10px 5px;
      margin: 6px 0 7px;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
      box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
    }
    .form_popup_btn{
      background: #fb6b00;
      border: 1px solid #fb6b00;
    }
    .form_popup_btn2{
      background: #1e8feb;
      border: 1px solid #1e8feb;
    }
      .form_popup_btn:hover,
      .form_popup_btn2:hover{
        background: #fff;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }
      .form_popup_btn:hover{
        color: #fb6b00;
      }
      .blue_style .form_popup_btn:hover{
        color: #1e8feb;
      }

      .blue_style .work_link:hover{
        color: #FFF;
        background-color: #1e8fea;
      }


      .popup_figure{}
        .popup_figure .img_box{
          width: 361px;
          margin-right: 30px;
        }
        .popup_figure figcaption{
          width: calc(100% - 400px);
        }
          .popup_figure figcaption form{
            width: 262px;
            margin: 60px auto 45px;
          }

      .popup_figure2{}
        .popup_figure2 .img_box{
          margin-right: 30px;
        }
        .popup_figure2 figcaption{
          width: calc(100% - 310px);
        }
        .header_content_form{
          box-shadow: 1px 1px 80px #a5a5a7;
        }

        .arcticmodal_container_box .header_content_form .form_popup_btn2,
        .arcticmodal_container_box .header_content_form .form_popup_btn{
          width: 200px;
          margin: 0;
        }

/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb60{ margin-bottom:60px;}
  .mb62{ margin-bottom:62px;}
  .mb65{ margin-bottom:65px;}
  .mb70{ margin-bottom: 70px;}
  .mb75{ margin-bottom: 75px;}
  .mb90{ margin-bottom: 90px;}
  .mb80{ margin-bottom: 80px;}
  .mb100{ margin-bottom: 100px;}
  .mb110{ margin-bottom: 110px;}
  .mb115{ margin-bottom: 115px;}
  .mb125{ margin-bottom: 125px;}
  .mb138{ margin-bottom: 138px;}
  .mb145{ margin-bottom: 145px;}
  .mb150{ margin-bottom: 150px;}
  .mb166{ margin-bottom: 166px;}
  .mb180{ margin-bottom: 180px;}

  .mr65{margin-right: 65px;}
  .mr30{margin-right: 30px;}


/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  [class^="title"]{
    /*font-family: 'Roboto Slab', serif;*/
  }
  .title{
    font-size: 46px;
    line-height: 58px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
  }
  .title1{
    font-size: 36px;
    line-height: 48px;
    color: #232440;
    font-weight: 400;
    /*font-family: 'Roboto', Helvetica, sans-serif ;*/
  }

  .title2{
    font-size: 24px;
    line-height: 34px;
    font-family: 'Roboto Slab', serif;
  }
  .title2_2{
    font-size: 24px;
    line-height: 34px;
  }

  .title3{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
  }
  .title4{
    font-size: 14px;
    line-height: 1.2;
    color: #a9acb3;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Roboto', Helvetica, sans-serif;
  }

  .title5{
    font-size: 12px;
    font-family: 'robotolight';
    color: #5e5e73;
  }
  .title6{
    font-size: 14px;
    font-family: 'robotobold';
    color: #232440;
  }

  .title7{
    font-size: 16px;
    font-family: 'robotobold';
    color: #000;
    /*font-family: 'Roboto Slab', serif;*/
  }

/*================================>> COLORS  <<========================================*/

  [data-color="orange"]{
    color: #FB6B00;
  }
  [data-color="blue"]{
    color: #0095ff;
  }
  [data-color="grey"]{
    color: #363638;
  }
  [data-color="grey_light"]{
    color: #626270;
  }
  [data-color="grey_light2"]{
    color: #73777a;
  }
  [data-color="grey2"]{
    color: #8A8E98;
  }
  [data-color="grey_light3"]{
    color: #B3B3BA;
  }

  .fz12{font-size: 12px;}
  .fz13{font-size: 13px;}
  .fz14{font-size: 14px;}
  .fz18{font-size: 18px;}
  .fz36{font-size: 36px; line-height: 1.2;}
  .fz46{font-size: 46px; line-height: 1.2;}

  .lh1{line-height: 1 !important;}



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
  #contact-form {
    padding:0px 0 0 0;
    position: relative;
  }
  #contact-form .success
  {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 0;
  }
  .txt_field{
    margin:0;
    font-size:12px;
    border:1px solid #e7e7e7;
    color:#969696;
    padding:7px 10px;
    outline:none;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .msg_field{
    overflow:auto;
    width:433px;
    height:172px;
    resize:none;
    float:left;
    margin: 0 0 0 0;
  }

  #contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
  #contact-form .error, #contact-form .empty {
    text-align:left;
    color:red;
    font-size:11px;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #contact-form .buttons2 {
    overflow:hidden;
    text-align:right;
    position:relative;
    clear:both;
    padding-top:25px;
  }
  #contact-form .buttons2 a {
    cursor:pointer;
    margin-top:0;
    text-align:center;
  }
  #contact-form span{
    display:block;
    margin: 0px 0 0 5px;
   }

  .map_wrapper{
    overflow:hidden;
    display:inline-block;
    margin-bottom:26px;
  }


/*================================>> Footer <<========================================*/
  footer {

  }

  .footer_contact{
    width: 372px;
    padding-bottom: 20px;
  }
    .footer_contact_info{
      background: url(../images/footer_item_bg.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      padding: 25px 25px 0 37px;
      min-height: 178px;
    }
      .footer_contact_info_text,
      .footer_contact_info_link{
        font-size: 14px;
        line-height: 25px;
        color: #ccf1f8;
      }
        .footer_contact_info_link:hover{
          color: #fff;
          text-decoration: underline;
        }
        .title_footer{
          font-size: 16px;
          line-height: 22px;
          color: #fff;
          font-family: 'Roboto Slab', serif;
          font-weight: bold;
        }

    .footer_copyright{
      font-size: 12px;
      color: #71717e;
      line-height: 18px;
      margin-left: 15px;
    }    
      .footer_copyright img{
        margin-right: 10px;
      }

    .footer_maps{
      position: relative;
      width: 600px;
      height: 306px;
      margin-left: 30px;
    }  

      .footer_maps_item{
        position: absolute;
        width: 186%;
        height: 306px;
        /*border: 30px solid transparent;
        border-image: url("../images/map_border.png");
        border-image-repeat: round;*/
      }

        .footer_maps_item:before{
          content: "";
          z-index: 99;
          position: absolute;
          background: url(../images/map_border_before.png) 0 0 no-repeat;
          top: 0;
          left: 0;
          width: 33px;
          height: 100%;
        }

        .footer_maps_item:after{
          content: "";
          z-index: 99;
          position: absolute;
          background: url(../images/map_border_after.png) 0 0 no-repeat;
          width: 100%;
          top: 0;
          height: 30px;
        }


/*------------  PLACEHOLDER  -----------*/

  input::-webkit-input-placeholder{
    transition: all 0.5s ease;
   font-family: 'robotolight';
   font-size: 14px;
    font-weight: 300;
    color: #9a9da6;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input::-moz-placeholder{
    transition: all 0.5s ease;
   font-family: 'robotolight';
   font-size: 14px;
    font-weight: 300;
    color: #9a9da6;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-moz-placeholder{
    transition: all 0.5s ease;
   font-family: 'robotolight';
   font-size: 14px;
    font-weight: 300;
    color: #9a9da6;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-ms-input-placeholder{
    transition: all 0.5s ease;
   font-family: 'robotolight';
   font-size: 14px;
    font-weight: 300;
    color: #9a9da6;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus::-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-ms-input-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  /*===  input end    ===*/

  /*===  textarea start  ===*/
  textarea::-webkit-input-placeholder{
   font-family: 'robotolight';   
    transition: all 0.5s ease;
    color: #a9acb3;
    opacity: 1;
    font-size: 14px;
  }
  textarea::-moz-placeholder{
   font-family: 'robotolight';   
    transition: all 0.5s ease;
    color: #a9acb3;
    opacity: 1;
    font-size: 14px;
  }
  textarea:-moz-placeholder{
   font-family: 'robotolight';   
    transition: all 0.5s ease;
    color: #a9acb3;
    opacity: 1;
    font-size: 14px;
  }
  textarea:-ms-input-placeholder{
   font-family: 'robotolight';   
    transition: all 0.5s ease;
    color: #a9acb3;
    opacity: 1;
    font-size: 14px;
  }

  textarea:focus::-webkit-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus::-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-ms-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  /*===  textarea end    ===*/


.helper{
  width: 200px;
  text-align: left;
  font-size: 16px;
  color: #fb6b00;
  position: relative;
}

  .helper::before{
    content: "";
    background: url(../images/new_calc_03.jpg) 0 0 no-repeat;
    width: 64px;
    height: 206px;
    position: absolute;
    top: 100%;
  }

  .img_link{
    position: relative;
    box-shadow: 1px 1px 15px #000;
  }

  .hint{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 40px; 
    background: rgba(0, 0, 0, .54);
    padding: 10px;
    color: #fff;
  }

/*==============>  THANKS PAGE  <============*/
  .thanks_block{
    width: 400px;
    height: 165px;
    margin: 130px auto 180px;
  }
    .thanks_box{
      font-weight: 700;
      padding: 40px;
      color: #FB6B00;
      font-size: 55px;
      text-align: center;
      border: 3px solid #fb6b00;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      font-family: 'Roboto Slab', serif;
    }
    .thanks_block .text_link{
      padding-left: 0 !important;
    }

#thanks_box {
    padding: 35px 15px;
    border: 1px solid #fb6b00;
}

.arcticmodal_container_box {
    max-width: 1000px !important;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 50px;
    z-index: 99999;
    width: 101%;
    position: relative;
}


/*-----Thanks Block-----*/
   .thanks_block{
    width: 400px;
    height: 165px;
    margin: 130px auto 180px;
  }
    .thanks_box{
      font-weight: 700;
      padding: 40px;
      color: #fb6b00;
      font-size: 55px;
      text-align: center;
      border: 3px solid #fb6b00;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      font-family: 'Roboto Slab', serif;
    }
    .thanks_block .text_link{
      padding-left: 0 !important;
      text-decoration: none;
      margin-bottom: 15px;
      text-align: left;
      width: 100%;
      color: #FB6B00;
      display: block;
    }






.form_smeta{
  width: 585px;
  margin: auto;
}
  .form_smeta .header_content_name,
  .form_smeta .header_content_phone,
  .form_smeta .header_content_mail{
    width: 195px;
  }


